body {
    background-color: pink;
    text-align: center;
}

h1 {
    font-size: 75px;
}

img {
    height: 500px;
    width: 500px;
}
.imgsection{
    display: flex;
    justify-content: center;
    
}
.section{
    margin-left: 25px;
    margin-right: 25px;
    background-color: cadetblue;
    
}